body {
	background: cyan;
}
h1{
	font-size:10px;
	text-align: center;
	stroke: 10px white;
	text-shadow: 0 0 0.1em blue;
	font-family: 'Sansita Swashed', cursive;
}
body{ 
	margin-top:15px;
}
#boton{
	background: lightgreen;
	text-shadow: 0 0 0.1em lightgray;
	size: 30px;
	justify-items: center;

	

}
#palabra{
	background: lightgray;
	transform: scale(1);
	 display: table-cell;
	vertical-align: center;

}
#ingresar{
	text-decoration-color: white;
	color: darkblue;
	font-size: 10px;

}